.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
  }
  
  .login-right {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }
  .login-right form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }
  
  .login-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;

  }
  
  .form-group {
    margin-top: 1.5rem;
    position: relative;
    width: 73%;
  }
  
  .input-field {
    width: 100%;
    padding: 16px 20px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
  }
  
  .input-field::placeholder {
    color: #8e8d8d;
    font-size: 14px;

  }
  
  .password-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 73%;
  }
  
  .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .remember-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }
  
  .remember-checkbox:checked {
    background-color: #ff4e00;
    border-color: #ff4e00;
  }
  
  .remember-checkbox:checked::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .remember-text {
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 10px;
  }
  
  .forgot-link {
    color: #666;
    text-decoration: underline;
    font-size: 14px;
  }
  
  .forgot-link:hover {
    text-decoration: underline;
  }
  
  .submit-button {
    width: 73%;
    padding: 16px;
    background: #ff4e00;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 1.5rem 0;
  }
  
  .submit-button:hover {
    background: #ff3737;
  }
  
  .signup-text {
    text-align: center;
    color: #666;
    font-size: 14px;
  }
  
  .signup-link {
    color: #ff4e00;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  
  .login-left img {
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 100%;
    object-position: 50% 35%;
  }
 /* Responsive Design */
@media (max-width: 768px) {
  .login-left {
  
    width: 100%;
    height: 100%;
  }
  
  .login-right {
    padding: 1.2rem;
    
    width: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff4;
    border-radius: 30px;
    backdrop-filter: blur(50px);
  }
.form-group,.remember-forgot, .submit-button{
  width: 100%;
}
.login-title{
  color: white;
  font-weight: 400;
}
.remember-text,.forgot-link,.signup-text{
  color: white;
}
}